/* Footer Styles */
.footer {
  background-color: #2563EB;
  color: #fff;
  text-align: center;
  padding: 1.5em 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.footer .social-icons a {
  color: #fff;
  margin: 0 0.5em;
  font-size: 1.5em;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #011d2b;
}

/* ----------------------------------*/

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}